<h1>Forum Categories</h1>

<% @forum_categories.each do |forum_category| %>
	<div style="height: 30px;">
		<h3 style="display: inline"><%= link_to h(forum_category.name), :action => :show, :id => forum_category.id %></h3>
		<p style="display: inline"><%=h forum_category.description %></p>
	</div>
<% end %>
</table>

<br />