<h2>
  <%=h @forum_category.name %> <br />
</h2>

<% @forum_category.forum_topics.find(:all, :order => "updated_at DESC").each do |topic| %>
	<div>
		<h3 style="display: inline;">
			<%= link_to topic.name, :controller => :forum_topics, :action => :show, :id => topic.id %>
		</h3>
		
		<p style="display: inline;">
			<%=h topic.user.login %> <%=h topic.updated_at.to_s(:standard) %>
		</p>
	</div>
<% end %>