    # Be sure to only have this line once in your configuration
    NameVirtualHost 127.0.0.1:80

    # This is the configuration for epgp
    Listen 127.0.0.1:80

    <VirtualHost 127.0.0.1:80>
      ServerName epgp.localhost
      DocumentRoot "C:\projects\sfprojects\epgp\web"
      DirectoryIndex index.php
      <Directory "C:\projects\sfprojects\epgp\web">
        AllowOverride All
        Allow from All
      </Directory>

      Alias /sf "C:\projects\sfprojects\epgp\lib\vendor\symfony\data\web\sf"
      <Directory "C:\projects\sfprojects\epgp\lib\vendor\symfony\data\web\sf">
        AllowOverride All
        Allow from All
      </Directory>
    </VirtualHost>
