<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <%= stylesheet_link_tag 'main', :media => 'all' %>
    <%= javascript_include_tag "SortedTable" %>
  </head>
  <body>
    
    <div class="header">
      <a href=""><img src="/images/epgplogo.png" /></a>
    </div>
    
    <div class="menu">
      <ul>
        <li> <%= link_to 'Standings', :controller => "characters" %> </li>
        <li>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
        <li> <%= link_to 'Raids', :controller => "raids" %> </li>
        <li>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
        <li> <%= link_to 'Items', :controller => "items" %> </li>
        <li>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
        <li> <%= link_to 'Zones', :controller => "zones" %> </li>
        <li>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
        <li> <%= link_to 'Decays', :controller => "decays" %> </li>
        <li>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
        <!--<li><?php echo link_to('Statistics', 'stats/index'); ?></li>
        <li>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>-->
        <% if logged_in? %>
        <li><%= link_to "Logout", :controller => 'sessions', :action => 'destroy' %></li>
        <% else %>
        <li><%= link_to "Login", :controller => 'sessions', :action => 'new' %></li>
        <% end %>
      </ul>
    </div>
    
    
    <% if logged_in? -%>
    <div class="adminmenu">
      <ul>
        <li> <%= link_to 'Import', :controller => 'import' %> </li>
        <li>&nbsp;|&nbsp;</li>
        <li> <%= link_to 'Roster', :controller => 'characters', :action => 'adminindex' %> </li>
        <li>&nbsp;|&nbsp;</li>
        <li> <%= link_to 'Raids', :controller => 'raids', :action => 'adminindex' %> </li>
        <li>&nbsp;|&nbsp;</li>
        <li> <%= link_to 'Decays', :controller => 'decays', :action => 'adminindex' %> </li>
        <li>&nbsp;|&nbsp;</li>
        <li> <%= link_to 'Items', :controller => 'items', :action => 'adminindex' %> </li>
        <li>&nbsp;|&nbsp;</li>
        <li> <%= link_to 'Bosses', :controller => 'bosses', :action => 'adminindex' %> </li>
        <li>&nbsp;|&nbsp;</li>
        <li> <%= link_to 'Zones', :controller => 'zones', :action => 'adminindex' %> </li>
        <li>&nbsp;|&nbsp;</li>
        <li> <%= link_to 'Users', :controller => 'users', :action => 'adminindex' %> </li>
      </ul>
    </div>
    <% end -%>
    
    <div class="content"><br />
      <div>
        <table class="centered"><tr><td>
          <% flash.each do |key, msg| %>
            <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_ #{key}" %>
          <% end %>
          <%= yield :layout %> 
        </tr></td></table>
      </div>
    </div>
    
  </body>
</html>
